:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

@keyframes background-move {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

body {
  background-color: rgb(10, 10, 10);
  display: grid;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  place-items: center;
}

h2 {
  color: white;
  font-family: "Rubik", san-serif;
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h2 > .text-grad {
  animation: background-move 1.5s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  white-space: nowrap;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
